/* Common Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: xx-large;
    color: rgb(101, 101, 101);
    margin: 10px 0px;
}

h2 {
    font-size: x-large;
    color: rgb(101, 101, 101);
    margin: 10px 0px;
}

h3 {
    font-size: larger;
    color: rgb(101, 101, 101);
    margin: 10px 0px;
}

p {
    font-size: smaller;
    color: rgb(101, 101, 101);
    margin: 15px 0px;
}

.text-center {
    text-align: center;
}

button {
    border: 0px;
    border-radius: 3px;
    background-color: rgb(32, 32, 247);
    color: white;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: rgb(101, 101, 101);
}

a:hover {
    color: rgb(32, 32, 247);
}

button:hover {
    background-color: rgb(74, 74, 245);
}

form {
    margin: 20px;
}

label {
    display: block;
    margin: 2px;
    padding: 2px;
}

input {
    display: block;
    width: 100%;
    height: 38px;
    padding-left: 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Section 1: Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 10px rgb(226, 225, 225);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

/* Section 2: Banner */
header {
    width: 100%;
    height: 400px;
    background-color: rgb(223, 223, 219);
    margin-bottom: 30px;
}

.banner {
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-content {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-photo {
    width: 50%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

/* Section 3: Our Client */
.client {
    margin: 100px 0px;
}

.client-logo-area {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.client-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/* Section 4: Power of Blockchain */
.power {
    width: 50%;
    margin: auto;
}

.power-card-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.power-card {
    border: 1px solid rgb(241, 237, 237);
    border-radius: 5px;
    padding: 20px;
}

/* Section 5: Helping Blockchain */
.help-container {
    background-color: azure;
}

.help {
    width: 75%;
    margin: auto;
    display: flex;
    padding: 50px;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.help-content {
    width: 50%;
}

.help-card-area {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.help-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.help-icon {
    width: 40px;
    height: 40px;
}

/* Section 6: Blockchain Future */
.future {
    width: 50%;
    margin: auto
}

.future-card-area {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.future-card {
    width: fit-content;
    height: fit-content;
}

.photo-card {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 4px;
}

.cover-card {
    width: 170px;
    height: 150px;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    left: 15px;
    bottom: 75px;
    background-color: aliceblue;
    padding: 5px;
}

.cover-card:hover {
    background-color: antiquewhite;
}

/* Section 7: Contact Us */
.contact {
    width: 75%;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-photo {
    width: 50%;
    height: 300px;
}

.contact-form {
    width: 50%;
    height: 300px;
}

/* Section 8: Footer */
footer {
    width: 100%;
    margin: auto;
    margin-bottom: -20px;
    background-color: rgb(17, 17, 17);
}

.footer-content {
    width: 75%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* Media Query */
@media only screen and (max-width: 600px) {

    /* Section 1: Navbar */
    .menu-item {
        display: none;
    }

    /* Section 2: Banner */
    header {
        width: 100%;
        background-color: beige;
    }

    .banner {
        width: 100%;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .banner-content {
        width: 100%;
        padding: 10px;
    }

    .banner-photo {
        width: 100%;
    }

    /* Section 3: Our Client */
    .client {
        padding: 30px;
    }

    .client-logo-area {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

    /* Section 4: Power of Blockchain */
    .power {
        width: 100%;
    }

    .power-card-area {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }

    /* Section 5: Helping Blockchain */
    .help {
        width: 100%;
        flex-direction: column;
    }

    .help-content {
        width: 100%;
    }

    .help-card-area {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }

    /* Section 6: Blockchain Future */
    .future {
        width: 90%;
        margin: auto
    }

    .future-card-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;
    }

    .future-card {
        width: fit-content;
        height: fit-content;
    }

    .photo-card {
        width: 100px;
        height: 60px;
        border: 1px solid black;
        border-radius: 4px;
    }

    .cover-card {
        display: none;
        width: 80px;
        height: 60px;
        border: 1px solid black;
        border-radius: 4px;
        position: relative;
        left: 10px;
        bottom: 30px;
        background-color: aliceblue;
    }

    /* Section 7: Contact Us */
    .contact {
        width: 100%;
        flex-direction: column;
    }

    .contact-photo {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    /* Section 8: Footer */
    .footer-content {
        width: 100%;
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {

    /* Section 1: Navbar */
    .menu-icon {
        display: none;
    }


}